// App Component

// .app {

// }

// .app__header {

// }

// .app__title {

// }

// .app__main {

// }

// .app__footer {

// }


//Filter Component

// .app__field {

// }

// .app__field-text {

// }

.app__field-search {
    border: none;
    outline: none;
    border-bottom: 1px solid darkgrey;
    height: 20px;
}

//PokeList Component

// .pokemons__list {
  
  
// }

.pokemons__list-pokemon {
  list-style: none;


}

// .pokemon__wrapper {

// }

// .pokemon__image {
    
// }

// .pokemon__id {
    
// }

// .pokemon__name {
    
// }

.pokemon__types {
  list-style: none;

}